[2017-03-28 08:39] smtpstn opened #31 "Webhook URL not generating"
Hello,

I have setup your extension for Facebook Chat Bot. I have filled all the information. Now I am facing problem in accessing the url with custom key.

When I try to hit **https://www.techgetgo.com/chatbot/chatdata/facebook/key/4574er5ehiy/** I receive the following message.

**To configure Facebook webhook access https://developers.facebook.com/apps/(FACEBOOK_APP_ID)/webhooks/ and set the we

[2017-03-28 11:58] blopa commented on #31
Hello smtpstn,

I'm really sorry about this. I'm working in a better documentation for this extension. Your verify token must be the same as you custom key, so in this case must be "4574er5ehiy". I didn't thought it was necessary to have multiple keys for multiple purposes, that's why I simplify by using this one "custom key".

Could you try that and let me know?

Best.

[2017-03-29 05:39] smtpstn commented on #31
Hello,

Thanks for the quick response.

I have changed my verify token to my custom key now WebHook  is setup on Facebook. Please check the below SS:
![ff](https://cloud.githubusercontent.com/assets/26736002/24440004/3bdadde0-146f-11e7-8d22-8bfc9a6cac43.png)

But still I am getting the same message **To configure Facebook webhook access https://developers.facebook.com/apps/(FACEBOOK_APP_ID)/webhoo

[2017-03-30 02:22] blopa commented on #31
Hello!

Alright, here we go.

Q: Can you please let me know where I can access the chatbot? I am not able to find any option where a user can access the chatbot?
A: Your bot is available on Facebook chat, I guess that your bot is this one http://m.me/1441695065863926/, right?

Q: Also Is this chatbot can be accessed by a login user? OR anyone can use it?
A: This bot is only available for users log

[2017-03-30 05:11] smtpstn commented on #31
Hello,

Thanks for providing the answers. I have tried by messaging to this bot but didn't received any auto reply.

Also How can I setup on my website so customer can directly interact with this.? Can I setup it as a Facebook Live chat support? Something  like this: https://marketplace.magento.com/yosto-module-facebook-messenger.html ?

I mean How our website user get to know about this functiona

[2017-03-30 12:09] blopa commented on #31
Hello smtpstn,

I think that maybe you're missing some configuration on Facebook Developer website. My documentation is incomplete, I'll work on that the next weeks. Try following this tutorial starting from step #3: https://blog.hartleybrody.com/fb-messenger-bot/. You're probably missing the "Generate a Page Access Token" part.

As for the Facebook Live chat support, yeah, that would work.

Best.

[2017-03-30 12:10] blopa commented on #31
Also, please be aware of step #7, because you'll need aproval from Facebook to use your bot to send messages to other users other than yourself.

[2017-03-30 12:39] smtpstn commented on #31
Hello,

Thanks for quick response.

I have created the page access token. Please check the below screenshot:
![imgpsh_fullsize](https://cloud.githubusercontent.com/assets/26736002/24504413/d9cd6d24-1573-11e7-8aea-bbc38cfba0d9.png)

After that I have tried to message bot via my own account, Still it's not replying. :(

Can you please tell me If I have to use this page access token somewhere in mage

[2017-03-30 12:49] blopa commented on #31
Yes, you need to add this access token on the module backend configuration. Go to System > General Settings > Chatbot Settings

Please check this SS
https://raw.githubusercontent.com/blopa/Magento-Chatbot/master/screenshots/image_3.png

You'll have a lot to configure there, including commands code, enable/disable features, and many other things. This part is kind of documented on here: https://git

[2017-03-30 13:04] smtpstn commented on #31
Hello,
Thanks for quick response.

Please check below screenshot. Should I insert my page access token in this filed?

![fbm](https://cloud.githubusercontent.com/assets/26736002/24505446/8a5fa2ee-1577-11e7-8bc9-41f07959c44f.png)

[2017-03-30 13:11] blopa commented on #31
Yes, that's it :smile:

I'm sorry about that. I'll change the text of this input and add better documentation.

Best

[2017-03-30 13:20] smtpstn commented on #31
Hello,

I have added my access token to that field. Still no reply from bot :(
![fbt](https://cloud.githubusercontent.com/assets/26736002/24506047/c460d02e-1579-11e7-91c1-e1795c8a1d8d.png)

[2017-03-30 13:33] blopa commented on #31
Can you send a SS of all your configuration for this module?

[2017-03-30 13:40] smtpstn commented on #31
Hello,

Please check below SS:

![fbms](https://cloud.githubusercontent.com/assets/26736002/24506849/74c6659e-157c-11e7-883b-94a8aa31decd.png)
![ge](https://cloud.githubusercontent.com/assets/26736002/24506850/74c75468-157c-11e7-8420-e6430166195f.png)

[2017-03-30 13:57] blopa commented on #31
That's weird. It should work. The problem is probably on Facebook Developer backend.

Try checking other tutorials, or make another page just for testing, and follow that tutorial from step #2

[2017-03-30 23:01] blopa commented on #31
I'm gonna close this for now. If you have any other problems, please let us know!

[2017-03-30 23:01] #31 closed

[2017-06-09 22:45] bloggerpact opened #60 "Not replying"
First of all, i would like to say thanks for making this open-source bot for Magento.
**I integrated all the setting** Please check ss below

![image](https://user-images.githubusercontent.com/22036537/26996877-160efaf8-4d93-11e7-9ac5-7e01a2c70cc0.png)

![image](https://user-images.githubusercontent.com/22036537/26996865-00dd346a-4d93-11e7-91f8-3fe02165d080.png)

![image](https://user-images.githu

[2017-06-12 01:40] blopa commented on #60
Hello. I'm sorry you're having problems with my extension, I'm actually travelling out of my country and I don't have my computer with me, so I can't help you right now, but I'll do as soon as possible.

While you wait you should have a look at this issue https://github.com/blopa/Magento-Chatbot/issues/31 might help you.

[2017-06-20 17:08] woelig opened #61 "Include Path Issue"
Hello,

I also have setup your extension for Facebook Chat Bot. I have filled all the information. Now I am facing problem in accessing the url with the custom key.

After making a call to http://www.website.com/chatbot/chatdata/facebook/key/69398037409
I get the following PHP error
Fatal error: require_once(): Failed opening required 'Api/witAI/witAI.php' (include_path='/var/www/htdocs/lib/minify

[2017-06-20 17:54] woelig commented on #61
This error occurs after running shell/compiler.php compile

[2017-06-22 07:16] blopa commented on #61
Hello. Thank you for submitting this issue. Have you tried using the extensions without running shell/compiler?

[2017-06-22 11:04] woelig commented on #61
Hello Blopa,

I managed to get it working with the bot responding :) when clearing the compiled data. But after the files is compiled it starts giving issues.

[2017-06-22 11:05] woelig commented on #61
I have a second issue also if interested can log that one also.

[2017-06-22 11:14] woelig opened #62 "list_categories not working"
Hello,

So I managed to setup Facebook Chat Bot communicating (uncompiled issue 61) but it stops responding after running list_categories

![image](https://user-images.githubusercontent.com/29579568/27431334-7d1e850c-574c-11e7-9bc9-63970328496a.png)

Magento Setup on my side is multi store with configurable products.

[2017-07-01 01:25] blopa commented on #61
Could you clarify exactly what you did? It might help others in the future.

[2017-07-01 01:31] blopa commented on #62
Hello. Thanks for submitting this issue.

Does the category listing works? How many categories does your store have? This might need some extra debugging.

The module isn't compatible with configurable products for now. Don't you have simple products?

[2017-07-01 01:32] blopa commented on #60
Hello. Did you managed to get it to work? Please let me know.

[2017-07-01 20:17] bloggerpact commented on #60
Hey,

Problem is still there. It looks like the FB backend app setting is OK but do not know what's wrong. If you can help me It will be appreciated. In waiting for your quick response. @blopa

Thanks

[2017-07-01 20:30] blopa commented on #60
Hello.

Did you setup the secret key correctly? I think that maybe you're missing some configuration on Facebook Developer website. My documentation is incomplete, I'll work on that the next weeks. Try following this tutorial starting from step #3: https://blog.hartleybrody.com/fb-messenger-bot/. You're probably missing the "Generate a Page Access Token" part.

Best

[2017-07-01 20:57] bloggerpact commented on #60
Hey,

**Yes i did, Please ss below both secret key and page access token generated correctly**

![image](https://user-images.githubusercontent.com/22036537/27765419-de73741a-5ecd-11e7-85e4-a938d4c01afb.png)

**Back-end setting**

![image](https://user-images.githubusercontent.com/22036537/27765421-f5c1a4d4-5ecd-11e7-984f-f0c05a2256bf.png)

Thanks,

--- Little Update ---

_There was little issue ab

[2017-07-01 21:32] blopa commented on #60
Hello. Got it. So the problem must be in the Webhook setup, your Facebook verify token must be the same as you custom key (general config). Try that and let me know.

[2017-07-01 21:38] bloggerpact commented on #60
Hey,

**I've already done this. I'm attaching screenshots please check Below:**

![image](https://user-images.githubusercontent.com/22036537/27765613-e248edb2-5ed3-11e7-9e07-39f7c72e6cda.png)

![image](https://user-images.githubusercontent.com/22036537/27765591-30f0553c-5ed3-11e7-8d2f-02ed89abddf6.png)

![image](https://user-images.githubusercontent.com/22036537/27765594-543f0150-5ed3-11e7-885f-65

[2017-07-01 23:46] blopa commented on #60
Well that's very weird... would you mind sending me access to your Magento installation so I can have a look?

http://www.pablomontenegro.com.br/contato/

[2017-07-02 00:31] bloggerpact commented on #60
Hey,

Back-end Login Has sent to you.  Please check @blopa

[2017-07-02 22:00] blopa commented on #60
So you were missing a "**/**" in the end of the webhook URL:

Your webhook was set as https://mystore.com/chatbot/chatdata/facebook/key/SECRET_KEY and it should be https://mystore.com/chatbot/chatdata/facebook/key/SECRET_KEY/

Please don't forget to give this extension a star and share it with your Magento buddies :D

Best.

[2017-07-03 11:52] bloggerpact commented on #60
well, it started working but another issue has come :

![image](https://user-images.githubusercontent.com/22036537/27791684-ef2dd20e-6013-11e7-8e73-43cf5d4e7c16.png)

It was working fine but I sent a checkout command, after it started to give me an error.
In waiting for your quick response. @blopa

Regards

--- update - --

There is nothing in the log folder.

[2017-07-03 12:22] blopa commented on #60
Hello. I'll look into it. Since this is a differente issue, please open a new issue. I'll close this one.

[2017-07-03 12:22] #60 closed

[2017-07-03 14:34] bloggerpact opened #65 "Something went wrong Error"
the bot was working fine but I sent a checkout command, after it started to give me an error. also I checked there is nothing inside log folder.

![image](https://user-images.githubusercontent.com/22036537/27796432-941978e6-6027-11e7-9739-54d36742fcb0.png)

In waiting for your quick response. @blopa

Regards

[2017-07-03 15:22] bloggerpact commented on #65
The problem has been solved, the command was stuck, which caused an error

[2017-07-03 15:22] #65 closed

[2017-07-03 15:45] blopa commented on #65
It might not be a technical issue, but it's still a usability issue. I'll work on that. I'll reply your e-mail later today.

[2017-07-11 20:19] bloggerpact opened #66 "not displaying newly added products"
I've added some products to the website, but the bot is not displaying those products, I've refreshed all the cache and re-indexed. is there any way to refresh products data in bot database?

![image](https://user-images.githubusercontent.com/22036537/28088577-b642841c-66a3-11e7-9882-7122b45f6a36.png)

in waiting for quick response @blopa thanks in advance

Regards,

[2017-07-22 15:19] blopa commented on #66
Hello. Sorry for the late reply. Are you using configurable products?

[2017-07-22 15:20] blopa commented on #62
I'm gonna close this for now. Feel free to open a new issue if you need help.

[2017-07-22 15:20] #62 closed

[2017-07-22 15:20] blopa commented on #61
I'm gonna close this for now. Feel free to open a new issue if you need help.

[2017-07-22 15:20] #61 closed

[2017-07-23 01:02] bloggerpact commented on #66
no! i m using simple products with custom options

[2017-07-23 01:13] blopa commented on #66
Got it. Yeah, we currently don't support custom options :( I'm trying to find time to work on this feature. I'm going to close this for now.

[2017-07-23 01:13] #66 closed

[2017-09-07 15:17] etsanov opened #67 "Just two questions"
I appreciate your work, and I just wanted to ask:

1) can this chatbot be used for abandoned cart messages in FB messenger
2) will it work for configurable products soon?

Thanks a bunch and keep up the good work!!!

[2017-09-07 16:01] thomas-thaulow commented on #67
Would also like to know! But also is it possible that customers can select chat with a staff in meny also?

[2017-09-07 23:47] thomas-thaulow commented on #66
Hello @blopa , found out anything about configurable products yet? Any toughts about how you would like to solve it?

- Thomas

[2017-09-08 02:11] blopa commented on #67
@etsanov Hello there. Abandoned cart is a really great idea, I haven't thought about that. That should be easy to implement, I'll look into that. As for the configurable products, I'm not sure. Products with Custom Option should come first, and then configurable products, I have never worked with it so I'm going to need more time.

@CiaraCode Hello. By "meny" ou mean "menu"? If so, that should be

[2017-09-08 02:12] blopa commented on #66
Hello. I have never worked with configurable products before, so I'm not sure. Products with Custom Option should come first, and then configurable products.

[2017-09-08 02:15] thomas-thaulow commented on #67
@blopa What I mean is when someone initiates a chat on messenger, would it be possible to give the customer the option to "see products, sign in, or chat with support on messenger?

[2017-09-08 02:16] thomas-thaulow commented on #66
@blopa really, my impression is that more people are using configurable then option? How long time do you think it would take to develop something like that?

[2017-09-08 02:28] blopa commented on #67
@CiaraCode got it. That should be easy to do. Gonna work on that in the next days.

[2017-09-08 02:29] blopa commented on #66
@CiaraCode I really don't know. I was hoping that someone could help me out, since it's open source. That still didn't happened... so I don't know, I have to study more about CP to understand what can be done.

[2017-09-08 02:31] thomas-thaulow commented on #67
Most people think bots are innovative and cool, but when it makes it impossible to chat with a real life human people will be mad. I believe thats why most people dont use bots today, because you have to choose either bot or human chat. If we can give the customer the option to talk to a human on messenger when initiating chat with bot, it would be alot easier to roll out the use of bots! :D

Look

[2017-09-08 02:33] thomas-thaulow commented on #66
Are we talking hours, days or months? I dont think I would have enough skills for it but I can for sure pay to get a developer to use some hours and help out to make it a reality. I really want to use this extension, but I only have configurable products as im running a clothing brand.

If you can give me some more specific things you need help with I can pay for some hours with dev! :)

[2017-09-08 19:50] blopa commented on #66
Well if you could pay for someone to develop it and are willing to put the code here in this repository, I for sure can help. You can easily find a developer on oDesk or freelancer.

[2017-09-09 22:05] blopa commented on #67
@etsanov Abandoned Cart is now implemented on #69 .
@CiaraCode Welcome Message Menu (Options) is now implemented on #68 .

As for the configurable products/custom option products, that should take some more time. Please lemme know if any of you are willing to pay a developer to help me out.

For now I'm closing this issue.

[2017-09-09 22:05] #67 closed

[2017-09-09 22:11] thomas-thaulow commented on #67
@blopa Trying to find a developer. The usual devs I work with are not available atm, tried Freelancer but so much bad developers.... Will continue to try find a dev.
Could you maybe send me a couple lines about what needs to be done or what they must check in order to make this work so I can use that when talking to them?

Thanks!

[2017-09-09 22:28] blopa commented on #67
The main problem is the function addProd2Cart() https://github.com/blopa/Magento-Chatbot/blob/master/Magento1/app/code/community/Werules/Chatbot/Model/Chatdata.php#L167

This functions as it's now, can only add simple products to the cart. So everytime I display a product using the bot (listing products, search, etc) I first check if its a simple product (as you can see here https://github.com/blo

[2017-09-12 03:08] CiaraCode opened #71 "Something went wrong, please try again."
Hello!

Tried setting up default replies, tried all options possible and I only get:
"Something went wrong, please try again." all the time. Anyone experiencing this issue? - Thomas

[2017-09-12 03:09] thomas-thaulow commented on #71
Even login gives the error, did not give the error before

[2017-09-12 12:51] blopa commented on #71
That's odd. Did you checked the log files?

[2017-09-13 04:03] thomas-thaulow commented on #71
2017-09-13T04:01:14+00:00 ERR (3): Notice: Undefined index: referral  in /var/www/ciaracode/app/code/community/Werules/Chatbot/Model/Api/Facebook/Messenger.php on line 243
2017-09-13T04:01:14+00:00 ERR (3): Notice: Undefined index: postback  in /var/www/ciaracode/app/code/community/Werules/Chatbot/Model/Api/Facebook/Messenger.php on line 248
2017-09-13T04:01:14+00:00 ERR (3): Notice: Undefined ind

[2017-09-13 09:59] CiaraCode opened #72 "Improvements?"
Wouldnt this be a good idea? Get started button when starting messenger, then a welcome message with option to chat with support or search for products, etc?

<img width="1084" alt="skjermbilde 2017-09-13 kl 11 57 27" src="https://user-images.githubusercontent.com/23300265/30371420-cfb1eefc-987a-11e7-9d96-2a9805177014.png">

[2017-09-13 12:07] blopa commented on #72
That's already done. Please check version v0.0.16 the "Add options/commands to Welcome Message" option.

[2017-09-13 12:07] #72 closed

[2017-09-14 08:21] thomas-thaulow commented on #71
@blopa help and about works, all other commands gives error..

[2017-09-25 15:49] thomas-thaulow commented on #71
@blopa any idea?

[2017-09-26 01:11] blopa commented on #71
Can you send me the log from the module?

[2017-09-28 22:43] blopa commented on #71
@CiaraCode can you send me the custom log from the chatbot module?

[2017-09-28 22:52] thomas-thaulow commented on #71
@blopa What log file are you refering to? Only one I found in root/Var/log/  was messages and it only said:
Sep 29 00:40:01 ciaracode systemd: Starting Session 398894 of user ciaracode.
Sep 29 00:40:01 ciaracode systemd: Started Session 398892 of user ciaracode.
Sep 29 00:40:01 ciaracode systemd: Starting Session 398892 of user ciaracode.
Sep 29 00:41:01 ciaracode systemd: Started Session 398895 o

[2017-09-28 22:54] thomas-thaulow commented on #71
In Magento root/var/log I ahve chatbot_facebook.log with:

2017-09-28T22:46:28+00:00 DEBUG (7): Post Data:
array (
  'object' => 'page',
  'entry' =>
  array (
    0 =>
    array (
      'id' => '1691125637817174',
      'time' => 1506638788240,
      'messaging' =>
      array (
        0 =>
        array (
          'sender' =>
          array (
            'id' => '1485694264799106',

[2017-09-29 00:28] blopa commented on #71
I'll have to check further into this, please send me an email so we can talk more about debugging this.

http://www.pablomontenegro.com.br/contato/

[2017-09-29 01:43] blopa commented on #67
@etsanov and @CiaraCode I just released a branch with a feature to display any kind of products on product search or categories. It's still not possible to add it to the cart, but at least you can show them on the chatbot.

https://github.com/blopa/Magento-Chatbot/tree/feature/all_products_types

Please try it and lemme know.

[2017-09-29 01:44] blopa commented on #66
@bloggerpact I just released a branch with a feature to display any kind of products on product search or categories. It's still not possible to add it to the cart, but at least you can show them on the chatbot.

https://github.com/blopa/Magento-Chatbot/tree/feature/all_products_types

Please try it and lemme know.

[2017-09-29 23:38] bloggerpact commented on #66
I'll update the plugin and will let you know. Thanks for update @blopa

[2017-10-02 14:32] Flyingmana opened #75 "proper License"
Hey, providing it for Free is great, and sorry to nag with this topic.

But you may reach a point, where you need to decide for a proper license, and then things get complicated(from a legal perspective) if you already had several contributions.

The problem is, you need the ok from others, if you want to put their contributions under a different license.

[2017-10-02 16:50] bloggerpact opened #76 "Order Notifications on facebook"
I appreciate your work, I have a feature request it would be great if you add feature that can send order notifications direct on messenger. notifications such as order shipment,  when order status change, invoice update etc.
![image](https://user-images.githubusercontent.com/22036537/31088735-5cbbea66-a7bf-11e7-9af1-ae94b96fe3cd.png)

![image](https://user-images.githubusercontent.com/22036537/31

[2017-10-02 17:00] blopa commented on #76
Hello @bloggerpact.
That is a good idea for a feature, indeed. Is that from a existing module? Can you share it?

[2017-10-02 17:05] blopa commented on #75
Thank you for your feedback, @Flyingmana. For now I'm the only one maintaining this project. I think there are still a lot of features and module-architecture improvements to make it attractive for other developers to jump in it.

With that said, I'm open for changing the license for something that would make more sense for this project. Should I go with CC?

[2017-10-02 18:10] bloggerpact commented on #76
Yes, this is an existing module, but it is a subscription-based has lot of features like answering each message and commen but would be great if you include only notifications related with orders  https://marketplace.magento.com/magetrend-mt-messenger.html @blopa

[2017-10-02 18:22] blopa commented on #76
I can't promise you a date, but I'll work on that.

[2017-10-02 18:24] bloggerpact commented on #76
Thanks :+1: Will wait for this feature

[2017-10-02 18:24] #76 closed

[2017-10-02 18:57] Flyingmana commented on #75
CC would probably be ok

Magento itself suggest OSL, which it uses itself for the OpenSource part of Magento.
Recently they also recommend the MIT license for new modules. (which is used by most Open Source Projects nowdays, like Symfony, Doctrine, and since last week also the React ecosystem)

Keep in mind, that this is directly allowing to use it in any commercial context.(that may be clear for

[2017-10-03 03:50] blopa commented on #75
Thank you for your help.

I just added MIT license to the project, check https://github.com/blopa/Magento-Chatbot/pull/77

I'm aware people are going to use this for commercial use. I use Magento all the time, I like to think that with this module I can kind of give back some good features for the Magento Community who helped me for so many years.

Best.

[2017-10-03 03:50] #75 closed

[2017-10-03 10:02] webixpk opened #78 "Not Showing On Home Page"
Hello
I have installed it on my website but it is not showing on homepage. http://new.mojari.com.pk/

[2017-10-03 13:38] blopa commented on #78
Hello. By "not showing on homepage" you mean the  "Facebook Live Chat on store frontend" feature?

![img](https://i.imgur.com/HgizUwg.png)

Did you enabled it on backend panel?

[2017-10-03 13:43] webixpk commented on #78
Hello
http://new.mojari.com.pk/ this is my website homepage, chatbot is not showing on it, but it is showing on all inner pages like http://new.mojari.com.pk/index.php/contacts
Means chatbot is showing and working on all pages except my website homepage.

[2017-10-03 16:07] blopa commented on #78
That's weird. There's probably a block on your homepage that it's rewriting the module's block.

[2017-10-07 01:44] thomas-thaulow commented on #71
@blopa Not heard anything frmo you, did you get my email?

[2017-10-07 01:44] thomas-thaulow commented on #71
Tried adding you on facebook to to give you access to bot! :)

[2017-10-16 04:42] manualsh opened #79 "Option to Push, browse and schedule Magento CMS Notifications"
It would be useful to push, browse and schedule Magento CMS notification updates to the subscribers. Because the average subscriber needs content engagement, quiz interaction, browse offers and product benefits updates to keep engaged with the page. Product checkout happens as a side effect of the content updates and engagement. So this would be a useful feature because chabot is missing vital par

[2017-10-19 22:09] blopa opened #80 "[ANNOUNCEMENT] Magento 2 version"
Hello all.

After a long period of thinking, I've decided I'll rebuild the extension from scratch for Magento 2, using some new features and messaging queue. This module is a great module with amazing features, but there are many code-fix that need to be done, as is my first big module, so I'll focus on rebuilding it with better architecture for M2 and after I've done that, I'll refactor most of t

[2017-10-20 15:37] bloggerpact opened #81 "Modman support"
As u know that Magento has closed its legacy version of the market for version 1.x. Why don't you add modman for easy installing/Upgrading.
https://github.com/colinmollenhour/modman/wiki/Tutorial

[2017-10-24 12:33] fayyazgt opened #83 "Match challenge issue with Facebook"
I have installed your module, created facebook dev account and application, copied Facebook page's token and pasted in the module's facebook configuration section. Please have a look:

![image](https://user-images.githubusercontent.com/16473429/31943134-21fa5718-b8e1-11e7-94d0-a64745cc19da.png)

Also, I have entered the custom key:

![image](https://user-images.githubusercontent.com/16473429/31943

[2017-11-04 04:33] blopa commented on #80
Things are going pretty fast thanks to https://mage2gen.com

https://github.com/blopa/Magento-Chatbot/pull/82/files

[2017-11-11 21:59] blopa commented on #80
The main infrastructure is 80% done. Now I'm working on the commands features.

![test](https://i.imgur.com/XfNRZiT.png)

[2017-11-20 23:44] blopa commented on #80
I have already over 150 commits on the Magento2 branch. https://github.com/blopa/Magento-Chatbot/pull/82

I just finished wit.ai integration and some simple commands (about, help, cancel, list categories and search) . Next steps is adding to cart option, with login and so on.

[2017-11-23 10:22] dominik04u opened #98 "Can't add new command and replies"
Hi. I installed your plugin and cleared the cache, but I can't add new command etc. The "add" button not work.

[2017-11-23 14:49] dominik04u opened #99 "Webhook URL generation problem"
When I try to verify my Callback URL in FB app I have callback message like "The URL couldn't be validated. Response does not match challenge, expected value="1717583312", received="{\"status\":\"success\"}" "

I configurated all options in magento and status is of course "success", but why facebook want numeric value?

I have already read issues https://github.com/blopa/Magento-Chatbot/issues/31

[2017-11-23 17:38] #98 closed

[2017-11-24 20:02] blopa commented on #99
Hello @dominik04u. First of all, thanks for using our module.

I got many issues requests about the Facebook Challenge Hub. This was hard to code because I needed to create a "pure text" page with no HTML tags.

Some modules add blocks to all Magento pages and it may overwrite the webhook URL, which must NOT contain any blocks. Try looking for these blocks and exclude the itby adding `<remove name

[2017-11-24 20:02] blopa commented on #83
Hello @fayyazgt. First of all, thanks for using our module.

I got many issues requests about the Facebook Challenge Hub. This was hard to code because I needed to create a "pure text" page with no HTML tags.

Some modules add blocks to all Magento pages and it may overwrite the webhook URL, which must NOT contain any blocks. Try looking for these blocks and exclude the itby adding `<remove name="

[2017-11-24 20:03] blopa commented on #81
Hello @bloggerpact.

You're right, it's important to add Modman support. I'll work on that in the next version.

[2017-11-26 18:43] dominik04u commented on #99
I changed your code a little. I changed this method:
[code]

to this:
[code]

because it always was null in my case., because `$rawData = file_get_contents("php://input");` always was null. Then the URL callback in fb was saved. I send messages to my bot, but it still doesn't work. I don't know why php://input was null, and I don't know if messages are receive. Do you have idea what can be wrong?

[2017-11-27 10:58] dominik04u commented on #99
What is the structure of HTTPS POST?

[2017-11-27 15:15] dominik04u commented on #99
I saved request data to log file using this code:
[code]
and $_POST and $_REQUEST arrays are empty

[code]

[2017-11-28 11:54] dominik04u commented on #99
Ok. I repaired this, but I have another problem. Your plugin wants information like
`$this->data["entry"][0]["messaging"][0]["referral"]["ref"]`
or
`$this->data["entry"][0]["messaging"][0]["postback"]["payload"];`
but request from facebook doesn't have them.

[2017-11-28 12:03] blopa commented on #79
Hello @manualsh.

Thank you for your feedback, those are really great ideas, but also not really simple to implement. I got to find a way to create a backend panel to create those kinds of contents in a simple way. As for the Magento2 version, I'm currently working on it and it should be done by next week.

Best

[2017-11-29 10:53] dominik04u opened #113 "Saving model"
Hi. Where do you save the chatbot model? When I try to get  `$chatdata = Mage::getModel('chatbot/chatdata')->load($chatId, 'facebook_chat_id');` I can't get `$chatdata->getFacebookMessageId()` and others.  In database all records have default values NULL and 0.

[2017-11-29 21:24] blopa commented on #113
Hello @dominik04u.

Thank you very much for trying to understand my code, but to be honest is far from good and very complicated. The thing is, I was developing while I was thinking about new ideas and learning more about chatbots. Now that I have a best view of the product and it's features, I'm remaking it for Magento 2, should be ready next week, and after that I'll remake it to Magento 1 (prob

[2017-11-30 00:56] blopa commented on #80
I just published the first version for Magento2. Enjoy https://github.com/blopa/Magento-Chatbot/releases/tag/m2_v1.0.0

[2017-11-30 00:56] #80 closed

[2017-11-30 07:21] dominik04u commented on #113
Thank you for quick answer. So I don't need database? I have one more question. What should return
`getFacebookConvState()` method?

[2017-11-30 09:37] blopa commented on #113
Hello.

I need the database, what I meant is that `facebook_chat_id` is only filled for some really specific cases.

The `getFacebookConvState()` will return the Conversation State. Let's say a customer ask to search for a product command, the chatbot you get his command and say like "Ok, what product?" and wait for the customer to write something, so in that moment, that the chatbot is waiting fo

[2017-11-30 09:37] blopa commented on #113
But I really recommend you to not use this version and wait for the new one to come out. It will be better and with more features

[2017-11-30 10:52] dominik04u opened #120 "Magento 2"
I run your plugin for Magento 2 but there is a problem:
[code]

[2017-11-30 12:31] blopa commented on #120
Hello @dominik04u. Thanks for reporting it. I still have to handle some exceptions.

Did you configured the Api Token in the Magento backend?

[2017-11-30 12:34] #78 closed

[2017-12-02 13:14] blopa commented on #120
Fixed on version 1.0.1 https://github.com/blopa/Magento-Chatbot/releases/tag/m2_v1.0.1

[2017-12-02 13:14] #120 closed

[2017-12-05 12:19] #99 closed

[2017-12-22 19:46] bloggerpact commented on #81
Hello @blopa
You already working on a newer version of magento 1.x Magento Chatbot and its a good time to include modman support in this newer version so that we can test and upgrade time to time.

[2018-01-06 06:49] huynit opened #142 "Can't open configuration in admin page after install magento-chatbot"
Hi . after install module i can't open frontend page and configuration in admin page, i chek in report folder i found error is "Undefined index: id", Please see in attach file .
[804580717750.txt](https://github.com/blopa/Magento-Chatbot/files/1608530/804580717750.txt)

Do you have any solution for it?

[2018-01-06 15:39] blopa commented on #142
Hello @huynit, how are you?

Are you using Magento 1 or Magento 2 version?

Best.

[2018-01-06 15:43] huynit commented on #142
Thank for reply.I using magento 2, i try install and reinstall again but
still error
You have any solution?

Vào 6 thg 1, 2018 10:39 CH, "Pablo Benmaman" <notifications@github.com> đã
viết:

Hello @huynit <https://github.com/huynit>, how are you?

Are you using Magento 1 or Magento 2 version?

Best.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitH

[2018-01-06 16:44] blopa commented on #142
I'll have a look

[2018-01-06 16:49] blopa commented on #142
Can you send me your var/log and var/report folders?

[2018-01-06 16:59] blopa commented on #142
Which module version are you using?

[2018-01-06 17:02] huynit commented on #142
I using last version 2.2.2 of magento , if you need i'll send source code
for you

Vào 6 thg 1, 2018 11:49 CH, "Pablo Benmaman" <notifications@github.com> đã
viết:

Can you send me your var/log and var/report folders?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/blopa/Magento-Chatbot/issues/142#issuecomment-355759391>,
or

[2018-01-06 17:12] huynit commented on #142
I uninstall version error and clear all error. If you want log or report,
i'll install it again if you need

Vào 7 thg 1, 2018 12:02 SA, "Đức Huy" <huyit.nguyen@gmail.com> đã viết:

I using last version 2.2.2 of magento , if you need i'll send source code
for you

Vào 6 thg 1, 2018 11:49 CH, "Pablo Benmaman" <notifications@github.com> đã
viết:

Can you send me your var/log and var/report folders?

[2018-01-06 17:24] blopa commented on #142
I mean, what version of the module are you using? Latest 1.0.5?

[2018-01-06 17:26] huynit commented on #142
Yes i using last version of module

Vào 7 thg 1, 2018 12:24 SA, "Pablo Benmaman" <notifications@github.com> đã
viết:

[2018-01-06 17:31] blopa commented on #142
Try this version and let me know: https://github.com/blopa/Magento-Chatbot/archive/feature/update_description.zip

[2018-01-06 17:48] hafeez3000 commented on #142
Works like a charm!

[2018-01-06 17:56] huynit commented on #142
Sorry . i go out now. I will try  later.

Vào 7 thg 1, 2018 12:48 SA, "Abdul Hafeez" <notifications@github.com> đã
viết:

Works like a charm!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/blopa/Magento-Chatbot/issues/142#issuecomment-355763189>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AJwoB26A

[2018-01-06 22:26] blopa commented on #142
Ok, please let me know so I can merge the code.

[2018-01-07 04:58] huynit commented on #142
hi blopa.
i'll install your update packet but still error. you can link to "www.noithatsaigoncaocap.com" frontend not load after i install module, maybe i need clear cache ?
i install step by step like this:

it's correct step ?

[2018-01-07 05:31] hafeez3000 commented on #142
Hi Huynit,  Look for any issues with file permissions

[2018-01-07 05:40] huynit commented on #142
hi hafeez3000
what yow meant?
i don't know exactly your module need permission. can you check it in my cpanel

[2018-01-07 12:55] blopa commented on #142
That doesn't look like a error from the module. Did you installation worked before installing the module? Can you send me the log?

[2018-01-07 13:30] huynit commented on #142
hi blopa
you mean worked is crontab ?
[log.zip](https://github.com/blopa/Magento-Chatbot/files/1609788/log.zip)

[2018-01-07 18:22] blopa commented on #142
That doesn't look like a error from the module. Try installing the module in a new M2 instance.

[2018-01-07 18:22] #142 closed

[2018-01-13 11:58] techzotezo opened #143 "How to setup and configure in facebook need proper document"
Hi,
In order to implement chatbot we need to configure facebook properly.
Please provide us the document or manual so that I can configure it...

Thanks

[2018-01-13 12:06] techzotezo commented on #143
I have seen this https://blopa.github.io/docs/magento_chatbot/#facebook_configuration but in facebook apps I cannot able to configure.Please help me in this concern...

[2018-01-13 13:31] blopa commented on #143
Hello @techzotezo. You're right. The current documentation is old, I'll work on a new one this weekend.

[2018-01-15 12:26] techzotezo commented on #143
Actually I have already set it up in my magento store but cannot able to configure facebook. Please provide us relevant documents so that I can configure...

[2018-01-17 11:50] techzotezo commented on #143
Can you update the documents so that I can configure facebook properly?Actually I want to launch the module in this week.

[2018-01-22 18:12] babygear opened #144 "Magento 1"
Hi,

Do you know when the extension for Magento 1 will be available for testing?

Best regards  :-)
Jesper Brejning

[2018-02-03 15:43] etsanov commented on #144
I am too waiting for https://github.com/blopa/Magento-Chatbot/tree/master/Magento1 to become accessible. I would purchase the extension,  if I could, although I can't, and I can't find a similar one for Magento 1 either.  Hopefully the dev has time to finalize this for M1 🥇  I would be very happy and grateful.

[2018-02-04 16:14] blopa commented on #144
Hello @babygear and @etsanov.

All the code used on the M2 version was written thinking on the possibility of simply copying and pasting to the M1 version, so that's basically what I have been doing, which honestly it's a very boring task.

I'll try to get it done by the end of February

[2018-02-04 16:16] blopa commented on #143
Hello @techzotezo.
What is your problem exactly? Could you explain in a more specific way so I can try to help you better.

[2018-02-04 16:25] babygear commented on #144
Hi Blopa,

Thank you for your reply. Looking forward to Friday :-)

I do understand - If we can help, please let us know.

Can you tell a name of a website, who is using your bot ?

[2018-02-04 16:28] etsanov commented on #144
I’m pretty sure it’s February, not Friday... thanks though :] If a few
bucks would expedite the process, let me know where to donate.

On Sun, 4 Feb 2018 at 18:25, babygear <notifications@github.com> wrote:

[2018-02-04 17:46] babygear commented on #144
Friday vs. February - the mouth speaks what the heart is full of :-)

On 4 February 2018 at 17:28, etsanov <notifications@github.com> wrote:

--
Med venlig hilsen / Best Regards,

Jesper Brejning,
BabyGear.dk

*Babyudstyr, Børnetøj og Babylegetøj - Altid FRI Fragt med GLS*

BabyGear.dk
Smedekærvej 33
DK-2770 Kastrup

CVR 17539078
Tel (+45) 36 94 96 99
Web: www.BabyGear.dk <http://www.babygear.dk/>

[2018-02-26 09:35] ntan-vixi opened #146 "Messenger Settings Not Loaded"
Hello,

I have a problem with my Magento 2 shop, the Messenger Settings page is not loaded.
But the general settings page is working fine.

![image](https://user-images.githubusercontent.com/33009981/36663090-e8dececa-1af9-11e8-9e5d-5fb2eb0c508e.png)

[2018-02-26 11:40] blopa commented on #146
Hi there.

That's weird. What is your Magento version? Can you send me your log files?

[2018-02-26 12:57] ntan-vixi commented on #146
Hello,

I didn't see any error about the application. I'm sending you the log files anyway.

I am using Magento 2

Thanks,

[2018-02-26 12:57] ntan-vixi commented on #146
[log.zip](https://github.com/blopa/Magento-Chatbot/files/1758668/log.zip)
[report.zip](https://github.com/blopa/Magento-Chatbot/files/1758670/report.zip)

[2018-02-26 19:23] syntaxisarg commented on #146
the same thing happens with magento 2.2.2

[2018-03-05 11:00] itsmudassir commented on #146
I am using Magento 2.2.3 i extracted the chatbot zip in the magento root directory and did the four installation steps but I can not even see it in the store . Please help . I compiled the whole magento directory with [ sudo php bin/magento setup:di:compile  ] as the 4th step of installation. Please help.
![magnro](https://user-images.githubusercontent.com/10288897/36971647-5085acb2-208e-11e8-86bf

[2018-03-06 09:42] itsmudassir commented on #146
@ntan-vixi  Can you please tell me the installation steps for this chatbot on magento 2 as there is no [ System > General Settings > Chatbot Settings ] to be found .

[2018-03-06 09:53] ntan-vixi commented on #146
@itsmudassir You can follow the steps indicated in page 4 of this pdf https://www.mageworx.com/index.php/downloads/dl/file/id/124/product/0/woxy_user_guide_10_17.pdf

[2018-03-06 11:51] blopa commented on #146
Hey guys. Just a quick update that I didn't forgot about this issue. I looked over at this on the weekend, but couldn't find any problems. I'll keep looking until I find a solution.

[2018-03-07 16:00] itsmudassir commented on #146
@ntan-vixi   same Messenger-setting disappearing error happens  when I use my server url as localhost/magento/admin  and its doesnt happen when i use server url as 127.0.0.1/magento .

[2018-03-07 16:02] itsmudassir commented on #146
@blopa  @ntan-vixi  how do you guys use it locally ? for other bots development Ngrok works for ssl problem . Do you guy use ngrok for local development?
I have tried to use ngrok but it doesnt work completely for me .

[2018-03-11 17:21] xmav commented on #146
Looks like issue comes from app/code/Werules/Chatbot/etc/config.xml
It cannot read value for <commands_list>. I have commented that field in config.xml and get  all fields in backend config visible (Messenger Settings)

[2018-03-11 17:38] xmav opened #147 "Does it work with Telegram ? (Magento 2 version)"
Hi
I am wonder if there any draft user guide on how to configure it with Telegram ?

(From the code it looks like telegram is not supported yet in Magento 2 module version. Am I right ?)

Thanks

[2018-03-11 19:12] blopa commented on #147
Hello @xmav.

Yes, Telegram is not implemented on M2 yet. It was on M1, but it seemed that I was the only one using it haha but it shouldnt be hard to implement it on M2 version.

Do you need this feature?

[2018-03-11 19:49] thomas-thaulow commented on #71
@blopa I believe this issue can be closed, as its related to the depprecated version.

[2018-03-11 19:52] thomas-thaulow commented on #144
@blopa how is the progress here? Maybe you could ellaborate a little bit the tasks that needs to be done from the M2 to M1 version, maybe someone here could help.

[2018-03-11 19:54] blopa commented on #146
@xmav What version of Magento are you using?

@itsmudassir @ntan-vixi @syntaxisarg could you try @xmav solution? I'm still not able to reproduce the problem, but this seems like a good lead.

[2018-03-11 19:55] blopa commented on #146
You guys cal also try running this command:

`php bin/magento cache:flush;php bin/magento cache:clean;php bin/magento setup:upgrade;php bin/magento setup:static-content:deploy -f`

[2018-03-11 19:59] xmav commented on #146
@blopa I am testing it using Magento 2.2.2

[2018-03-11 19:59] xmav commented on #147
yes, would be nice to have it

[2018-03-11 20:03] blopa commented on #146
Local machine? Windows or Linux?

[2018-03-11 20:04] xmav commented on #146
local dev environment on Ubuntu with Apache and PHP 7.0.25

[2018-03-11 20:17] xmav commented on #146
@blopa To reproduce issue make sure that you don't have value for "commands_list" field in database core_config_data table. In this case default values from config.xml will be used and I hope you will see the issue

[2018-03-11 21:20] xmav commented on #146
Here is more info from me:
Looks like thats breaking changes in Magento 2.2 and 2.3
https://github.com/magento/magento2/commit/3f5494763b4d7095d51fac44b4cd4dc4a6ab4b92#diff-6b58c5ee8a358659b65e043f71bca51b
As you may see in 2.2 \Magento\Framework\Serialize\Serializer\Json used as serializer. Thats why it cannot unserialize your value from config.xml

[2018-03-11 21:57] blopa commented on #146
I'm waiting for the others to confirm if that fixed their problem, and I'll release a new version.

[2018-03-20 19:55] itsmudassir commented on #146
Yes commenting the <commands_list> in config.xml solves the disappearing menu problem . but now the module is connected and my webhook url gives 404 error please take a look @blopa . I am using latest magento2 and the chatbox appears in home but the webhook doesnt work I tried to add a '/' at the end as well .
![1](https://user-images.githubusercontent.com/10288897/37679299-531fb326-2ca2-11e8-841d

[2018-03-21 15:37] itsmudassir commented on #146
@xmav did  commenting the <commands_list> in config.xml  solve your problem ? for It does make the settings visible but the extension does not generate working facebook webhook   URL. If it worked for you please tel me your magento version and how did you host  it with SSL .

[2018-03-22 14:43] YannigSmagghe opened #148 "Messenger Settings Fatal Error"
Hi guys, your project look nice but i have this bug on Messenger Settings from admin pannel

`1 exception(s):
Exception #0 (InvalidArgumentException): Unable to unserialize value.

Exception #0 (InvalidArgumentException): Unable to unserialize value.
#0 /data/demo/src/current/app/code/Magento/Config/Model/Config/Backend/Serialized.php(55): Magento\Framework\Serialize\Serializer\Json->unserialize('

[2018-03-22 14:43] #148 closed

[2018-03-23 10:24] YannigSmagghe commented on #143
Hi, I need help too with facebook configuration.

I'm stuck on webhook conf, what is the callback url ? Facebook told me 404, i gave this :
"https://magento2-app/chatbot/webhook/endpoint/api/messenger/key/dhfo983rf0j"

dhfo983rf0j is my token set on general settings as Your Secret Key.

Can you help me plz ?

[2018-03-25 02:24] blopa commented on #143
Hi @YannigSmagghe. `magento2-app` dosen't seems like a valid web address. Can you try deploying in a valid web address?

[2018-03-25 02:25] blopa commented on #148
Did you got it working?

[2018-03-25 03:09] blopa commented on #146
@itsmudassir Try http://mudassir.website/chatbot/webhook/messenger/endpoint/al1foqt1ts

[2018-03-25 03:29] blopa commented on #146
Version 1.0.7 released! https://github.com/blopa/Magento-Chatbot/releases/tag/m2_v1.0.7

[2018-03-25 03:29] #146 closed

[2018-03-25 03:31] blopa commented on #143
Please update to version 1.0.7

[2018-03-25 03:31] #143 closed

[2018-03-25 04:31] blopa commented on #147
I'm working on it!

https://github.com/blopa/Magento-Chatbot/pull/150/files

[2018-03-25 04:32] #83 closed

[2018-03-25 04:32] #71 closed

[2018-03-25 04:32] #113 closed

[2018-03-25 04:33] #81 closed

[2018-03-26 12:18] itsmudassir opened #151 "version v1.0.7 Doesnt Reply"
My plugin is connected successfuly to webhook . it does show a message is seen by the page some times but never replies or show welcome message . Please help,  quick reply will appreciated .
[logs.zip](https://github.com/blopa/Magento-Chatbot/files/1847697/logs.zip)
![1](https://user-images.githubusercontent.com/10288897/37905838-a6a4fc42-3119-11e8-8a1a-7e5f2fcb9913.png)
![2](https://user-images.g

[2018-03-26 12:29] blopa commented on #151
Hi there.

Are you an administrator for the page? Because Facebook will only let the bot send messages to the administrator if the page isn't aproved by them yet.

Also, did you checked if there's a chatbot specific log in the log folder? It should be something like werules_facebook_chatbot.log

[2018-03-26 12:31] blopa commented on #151
Also, try sending "help" with lower case, just like it's on settings.

[2018-03-26 13:36] itsmudassir commented on #151
@blopa   here is the login
https://www.mudassir.website/admin/
user: mudassir
pass: pta123

[2018-03-26 13:41] itsmudassir commented on #151
No none of the variations work. how can i give you my site credentials privately ? I am using magento 2.2.2 ubuntu 16.4 and apache .

[2018-03-26 13:48] blopa commented on #151
Please invite me to be a admin of your Facebook page. My Facebook is [email]

[2018-03-26 13:53] itsmudassir commented on #151
invite sent

[2018-03-26 14:39] blopa commented on #151
Weird. I haven't received anything. Can you try sending to this email [email]?

[2018-03-26 19:37] itsmudassir commented on #151
Email sent to  [email]

[2018-04-19 11:33] itsmudassir opened #152 "Product opens with a long url instead of [rewrite product url]"
When you click on product to opens it in the website view the url chatbot provides does not open as the url of store is shorter [rewrite product url] and this given long url doesnt open, not sure if its just my stores issue or not. I just want it to return a working url .
![1](https://user-images.githubusercontent.com/10288897/38989158-49a19742-43ef-11e8-8780-a66a3c417342.PNG)
![2](https://user-im

[2018-06-07 14:48] ThienNguyen9395 opened #153 "Notify {"status":"error","success":false}"
Hi,
Can you help me?
When I get instructions on how to configure your endpoint for Messenger in General settings Magento chatbot.
![image](https://user-images.githubusercontent.com/38942307/41107414-7fef9136-6a9c-11e8-8f4e-3ee6b73e6b0e.png)

![image](https://user-images.githubusercontent.com/38942307/41107262-37f61724-6a9c-11e8-9a9b-c4e97f60b56b.png)
Then I access this link and receive a notify er

[2018-07-22 20:33] adamj88 opened #154 "Composer friendly repo"
At the moment the module is not easily installable into Magento 2 using Composer.

To facilitate this the following directory would need to be the root directory of the repo: https://github.com/blopa/Magento-Chatbot/tree/master/Magento2/app/code/Werules/Chatbot

It could then be submitted to Packagist and installed using `composer require werules/module-chatbot`.

The Magento 1 module should ideal

[2018-12-27 16:22] babybeddingdesign commented on #146
Hi,
this VER will work on magento 2.3?

[2020-02-29 14:21] FrancescoTalotta commented on #147
Hello, any news about this feature?

Thank you